:root {
  /* Color Scheme */
  --background-color: #0D1B2A; /* Dark Navy */
  --body-bg-color:#f5f5f5b8 ; /* Very Light Grey for better readability */
  --primary-text-color: #f5f5f5d4; /* Very Light Grey for better readability */
  --secondary-text-color: #C0B283; /* Classic Gold - a richer tone */
  --accent-color: #2A9D8F; /* Teal Green */
  --button-bg-color: #132940; /* Deep Charcoal Blue for depth */
  --button-hover-color: #3C5C67; /* Rich Slate Blue for elegance */
}
body {
    direction: rtl;
    background-color: var(--body-bg-color);
  }
  @font-face {
    font-family: 'Jameel Noori Nastaleeq';
    src: url('./fonts/JameelNooriNastaleeq.ttf') format('truetype'); /* Adjust the path to the font file */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Jameel Noori Nastaleeq', sans-serif; /* Fallback to a generic sans-serif font */
}
.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color:var(--secondary-text-color); /* Change this to your preferred color */
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  transition: opacity 0.3s;
  z-index: 99999999999999999;
}

.scrollToTop:hover {
  opacity: 1;
  background-color: var(--accent-color);
}
